/*****************************************************************************
Common
 *****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;
}


body {
    background-color: #0E3005;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 1px;

    background: rgba(64,97,35,1);
    background: -moz-linear-gradient(left, rgba(64,97,35,1) 0%, rgba(18,38,1,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(64,97,35,1)), color-stop(100%, rgba(18,38,1,1)));
    background: -webkit-linear-gradient(left, rgba(64,97,35,1) 0%, rgba(18,38,1,1) 100%);
    background: -o-linear-gradient(left, rgba(64,97,35,1) 0%, rgba(18,38,1,1) 100%);
    background: -ms-linear-gradient(left, rgba(64,97,35,1) 0%, rgba(18,38,1,1) 100%);
    background: linear-gradient(to right, rgba(64,97,35,1) 0%, rgba(18,38,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#406123', endColorstr='#122601', GradientType=1 );
}


h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}


h1 {
    margin-bottom: 1em;
}


p {
    margin: 1.5em auto 1.5em;
}


a {
    color: #00a;
}


a:hover {
    color: #000;
}


a:visited {
    color: #a0a;
}



/*****************************************************************************
Site
 *****************************************************************************/

.site {
    width: 970px;
    margin: 20px auto 20px;
    padding: 40px;
    background-color: #FFF;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


header a {
    font-weight: bold;
    text-decoration: none;
}


header a.extra {
    color: #aaa;
    margin-left: 1em;
}


header a.extra:hover {
    color: #000;
}


footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #EEE;
    margin-top: 2em;
    overflow: hidden;
}


footer .contact {
    float: right;
    margin-right: 3em;
}


footer .contact a {
    color: #8085C1;
}


footer .contact p {
    margin-left: 0;
    margin-right: 0;
}


footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}


footer .rss img {
    border: 0;
}



section {
    margin: 1em 0 3em;
}



h1 {
    font-size: 200%;
    color: #A63A00;
    margin-top: 10px;
    text-align: center;
}


h2 {
    font-size: 160%;
    color: #E73A98;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #D636C9;
    margin-bottom: 0.4em;
}


h3 {
    font-size: 130%;
    color: #12734C;

    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 10px;
    margin-bottom: 0.4em;
}


table.border-table {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    margin-bottom: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}


table.border-table th {
    background-color: #F7F680;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 0.3em 1em;
    text-align: center;
}


table.border-table td {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 0.3em 1em;
}


td.number {
    text-align: right;
}


blockquote {
    margin: 0.5em 2em;
    font-size: 90%;
    font-style: italic;
}


.caption {
    color: #DC143C;
    margin-bottom: 0;
}


div.warn {
    margin: 2em 1em;
    border: 4px solid #C61A27;
}


div.warn h3.warn-title {
    margin: 0;
    padding: 3px 5px 5px;
    color: white;
    background-image: none;
    background-color: #C61A27;
}


div.warn p {
    margin: 0;
    padding: 6px 10px 10px;
}


div.note {
    margin: 2em 1em;
    border: 4px solid #125529;
}


div.note h3.note-title {
    margin: 0;
    padding: 3px 5px 5px;
    color: white;
    background-image: none;
    background-color: #125529;
}


div.note p {
    margin: 0;
    padding: 6px 10px 10px;
}


pre.border-pre {
    margin: 2em 0;
    padding: 0.5em;
    border: 1px solid #000;
    margin-left: 2%;
    margin-right: 2%;
}


ul {
    margin: 1em;
    padding: 0px;
    padding-left: 2em;
}


.horizontal-list li {
    display: inline;
    padding-right: 20px;
}


ol {
    margin: 1em;
    padding: 0px;
    padding-left: 2em;
}


ul li {
    list-style: none;
    list-style-type: disc;
}


ol li {
    list-style: none;
    list-style-type: decimal;
}


.image-list-item {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2em;
    width: 234px;
}


div.code-container {
    background: #ffffff;
    overflow: auto;
    width: auto;
    border: solid gray;
    border-width: .1em .1em .1em .8em;
    padding: .2em .6em;
}


div.code-container pre {
    margin: 0; line-height: 125%
}

/*****************************************************************************
Table Of Contents
 *****************************************************************************/

#toc, .toc {
    display: inline-block;
    margin-left: 5%;
    background-color: #F9F9F9;
    border: 1px solid #AAAAAA;
    font-size: 95%;
    padding: 10px;
}


#toc h2, .toc h2 {
    border: medium none;
    display: inline;
    font-size: 100%;
    font-weight: bold;
    margin-left: 0;
    padding: 0;
}


#toc ul, .toc ul {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 0;
    text-align: left;
}


#toc ul ul, .toc ul ul {
    margin: 0 0 0 2em;
}


#toc ul li {
    list-style-type: none;
    padding-left: 0;
}
