svg {
    background: #ffffff;
    -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    -moz-box-shadow   : 4px 4px 8px rgba(0,0,0,0.5);
    box-shadow        : 4px 4px 8px rgba(0,0,0,0.5);
}


svg .vtree-node text,
table.vtree-table {
    font: 14px sans-serif;
}


svg .vtree-link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}


table.vtree-table,
table.vtree-table th,
table.vtree-table td {
    border: 2px solid steelblue;
    background-color: white;
}


table.vtree-table {
    position: absolute;
    border-spacing: 0.5em;
    border-collapse: collapse;
}


table.vtree-table th,
table.vtree-table td {
    padding: 2px;
}

.vtree-tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
